[Unit]
Description=Gotify a simple server for sending and receiving messages
After=network.target
After=mysql.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/gotify-linux-__ARCHITECTURE__

[Install]
WantedBy=multi-user.target
